.logo .tt{
    width: 175px;
    height: 78px;
    margin-left: 75px;
}
.logo .tt img {
    width: 100%;
    height: 100%;
}

.navbar-expand-lg .navbar-collapse {
    font-size: 17px;
    padding-left: 189px;
    font-weight: bold;
}
.navbar-nav .nav-item  {
    padding-right: 27px;
}
.navbar-expand-lg .navbar-collapse {
    font-size: 17px;
    padding-left: 242px;
    font-weight: bold;
}
.navbar-nav .nav-item  {
    padding-right: 27px;
}
/* navbar */
.navbar
{
    background-color:#ffffff ;

}
.navbar-light .navbar-nav .nav-link
{
    color: black !important;
}
.navbar-light .navbar-nav  .active 
{
    color: #E8993B !important;
}
/* carousel */
.carousel-inner{
    height: 600;
    width: 100%;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}
.carousel-item .animated hr
{
    width: 30px;
    height: 10px;
    color: #000
}
.carousel-item .view .te,.car2 .view .te ,.carousel-item .view .te {
    position: initial;
    background: rgba(0,0,0) !important;
}
.carousel-item .view .te .img{
    background-image: url("../images/kkk.jpg") ;
    background-size: cover;
    height: 500px;
    opacity: .6;
}
.car1 .view .te .img{
    background-image: url("../images/gg.jpg");
    background-size: cover;
    height: 500px;
    opacity: .6;
}
.car2 .view .te .img{
    background-image: url("../images/a.jpg") ;
    background-size: cover;
    height: 500px;
    opacity: .6;
}
.carousel-caption .fadeInDown h3 
{
    color: #E99A3C;
    font-size: 40px;
}
.car1 .fadeInDown h3, .car2 .fadeInDown h3,
.show1 .details .head .p,
.show2 .details .head .p,
.more_sale .details  a .go .p
{
    color: #E99A3C;
}
.carousel-caption .fadeInDown p, .car1 .fadeInDown p, .car1 .fadeInDown p{
font-size: 23px;
color: white
}
.carousel-indicators .active {
    opacity: 1;
    margin-top: 10px;
    background: #E99A3C;
    border: 1px #E99A3C solid;
    height: 2px;
}
/* break */
.break .background {
    height: 370px;
    width: 100%;
    background-image: url("../images/gg.jpg") ;
    background-repeat:no-repeat;
    background-position:center;
}
.break .background:hover{
    filter: blur(0px);
    opacity: 1;
}
/* gallery */
.nav-tabs .nav-item.show .nav-link,.head .nav-tabs .nav-link.active{
    background-color: #FDF7E7;
    color: #4f4f4f

}
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link
{
    color: white !important
}
.head .nav-tabs .nav-link
{
    color:black;
    border: 1px #e1e1e1 solid;
    
}
.head .gallery {
    background: #ffffff !important;
}
.head .gallery .title .h3
{
    padding-top: 20px;
    font-size: 22px;
    color: #919090;
}

.head .gallery .card{
    border: #e5e5e5 solid;
}
.head .gallery .card .col-sm-12, .head .gallery  .col-12
{
    margin-top: 25px
}
.head .gallery .row
{
    margin-top: 25px
}
.head .gallery .card ul li {
    border: #f6db8d36 solid
}
.head .gallery .card ul li span
{
    color:#EF7800

}
.detailhed{
    height: 280px;
    position: relative;
    overflow: hidden;
}
.detailhed img {
    height: 280px;
}
.detailhed .p 
{
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    opacity: 0;
    transition: 500ms;
    transition-delay: 150ms;
}
.detailhed:hover .p 
{
    opacity: 1;
    z-index: 111;
}
.detail{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    transform: rotate(90deg);
    opacity: 0;
    transition: 300ms;
    
}
.detailhed:hover > .detail {
    transform: rotate(0);
    opacity:1
}

.head .gallery .card  button {
    background: none;
    color: black;
    border-style: solid;
    border-color:  rgb(255, 174, 93)   ;
}
.head .gallery .card  button:hover {
    background: rgb(255, 174, 93)   ;
    color: white;
    border-style: solid;
    position: .2s
}

/* contact-us */
.contact, .contact .text-center, .contact a{
    background-color: #E9E9E9;
    margin-top: 70px;
    color:#606060;
}
.contact h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: bold;

}
.show2 .details .head p,.sections2 .details a .go p,.sections .details a .go p,.car1 .fadeInDown h3, .car2 .fadeInDown h3, .show1 .details .head .p, .show2 .details .head .p, .more_sale .details a .go .p,.navbar-light .navbar-nav .nav-link,.carousel-caption .fadeInDown h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact .links a{
    text-decoration-style: solid
}
.contact .links a .t
{
margin-right: 10px}
.contact a:hover   {
    color: #606060b9;
}
.footer{
    height: 73px;
    background-color: #E9E9E9;
}
.footer .text-center{
    background-color: #E9E9E9;

}
.footer:hover a,
.footer a,
.hamdy:hover a,
.hamdy a{
    color: #fe9d58;
}
.footer 
{
    
    FONT-SIZE: 22px;
    color: #ECA959;}
    